.container {
  line-height: 2.2rem;
}

.subhead {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2rem 0;
}

.contact {
  width: 2rem;
  height: 2rem;
}

.detail {
  font-size: 1.2rem;
  font-weight: 700;
}

.name {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 0.2rem 0;
  text-decoration: underline 2px solid black;
}

.col,
.row {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.education {
  font-size: 1.2rem;
}

.list {
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.line {
  background-color: black;
  height: 0.2rem;
  margin: 2rem 0;
  border-radius: 10rem;
}

.language {
  font-size: 1.2rem;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 1rem;
}
