.container {
  line-height: 2.2rem;
}

.subhead {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.detail {
  font-size: 1.2rem;
  font-weight: 700;
}

.name {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 1rem 0 0.2rem 0;
  text-decoration: underline 2px solid black;
}

.education {
  font-size: 1.2rem;
}

.list {
  font-size: 1.2rem;
}

.line {
  background-color: black;
  height: 0.2rem;
  margin: 2rem 0;
  border-radius: 10rem;
}
