.row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
  align-items: center;
}

.home {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: black;
  width: 100%;
}

.link {
  text-decoration: none;
  color: black;
}

.profile {
  max-height: 20rem;
  border-radius: 50%;
  border: 5px solid black;
  align-items: center;
}

.name {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.summary {
  font-size: 1.5rem;
  font-style: italic;
  text-align: justify;
  line-height: 2rem;
}

@media all and (max-width: 1024px) {
  .profile {
    max-height: 15rem;
  }
  .name {
    font-size: 4rem;
  }
}
@media all and (max-width: 768px) {
  .profile {
    max-height: 12rem;
  }
  .name {
    font-size: 2.5rem;
  }
  .summary {
    font-size: 1.2rem;
  }
  .home {
    font-size: 1rem;
  }
  .row {
    padding: 3rem;
  }
  .summary {
    text-align: center;
  }
}
@media all and (max-width: 500px) {
  .profile {
    max-height: 8rem;
  }
  .name {
    font-size: 1.8rem;
  }
  .summary {
    font-size: 1rem;
  }
}
@media all and (max-width: 420px) {
  .row {
    padding: 1.5rem;
  }
}
@media all and (max-width: 380px) {
  .profile {
    border: 3px solid black;
    margin-bottom: 1rem;
  }
}
