.row {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid black;
  /* height: 40rem; */
  align-items: center;
}

.profile {
  max-height: 20rem;
  border-radius: 50%;
  border: 5px solid black;
  align-items: center;
}

.name {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.summary {
  font-size: 1.6rem;
}
