.container {
  background-color: #ffffff;
  position: static;
  font-size: 1.6rem;
  font-weight: 700;
}

.overlay {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.overlay:hover {
  background-color: #00000055;
}

.one,
.two,
.three {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.one {
  background-image: url("../../../Assets/Images/ferchael.png");
  background-size: cover;
}
.one:hover {
  background-attachment: fixed;
}

.two {
  background-image: url("../../../Assets/Images/talikasih.png");
  background-size: cover;
}
.two:hover {
  background-attachment: fixed;
}

.three {
  background-image: url("../../../Assets/Images/miniproject.jpg");
  background-size: cover;
}
.three:hover {
  background-attachment: fixed;
}

.ferchael,
.talikasih,
.miniproject {
  cursor: pointer;
  padding: 1rem;
  border-radius: 25px;
  text-decoration: none;
}

.ferchael,
.talikasih {
  color: #000000;
  background-color: #ffffff;
}
.ferchael:hover {
  color: #ffffff;
  background-color: #000000;
}
.talikasih:hover {
  color: #ffffff;
  background-color: #000000;
}

.miniproject {
  color: #ffffff;
  background-color: #000000;
}
.miniproject:hover {
  color: #000000;
  background-color: #ffffff;
}
