.container {
  background-color: #ffffff;
  position: static;
  font-size: 1.6rem;
  font-weight: 700;
}

.overlay {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.overlay:hover {
  background-color: #00000055;
}

.one,
.two,
.three {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-size: cover;
}

.one {
  background-image: url("../../../Assets/Images/ferchael.png");
}

.two {
  background-image: url("../../../Assets/Images/talikasih.png");
}

.three {
  background-image: url("../../../Assets/Images/miniproject.jpg");
}

.one:hover,
.two:hover,
.three:hover {
  background-attachment: fixed;
}

.ferchael,
.talikasih,
.miniproject {
  cursor: pointer;
  padding: 1rem;
  border-radius: 25px;
  text-decoration: none;
}

.ferchael,
.talikasih {
  color: #000000;
  background-color: #ffffff;
}
.ferchael:hover,
.talikasih:hover {
  color: #ffffff;
  background-color: #000000;
}

.miniproject {
  color: #ffffff;
  background-color: #000000;
}
.miniproject:hover {
  color: #000000;
  background-color: #ffffff;
}

@media all and (max-width: 1024px) {
  .overlay {
    height: 15rem;
  }
  .container {
    font-size: 1.4rem;
  }
  .ferchael,
  .talikasih,
  .miniproject {
    padding: 0.8rem;
  }
}
@media all and (max-width: 768px) {
  .overlay {
    height: 12rem;
  }
  .container {
    font-size: 1.1rem;
  }
  .ferchael,
  .talikasih,
  .miniproject {
    padding: 0.6rem;
  }
}
@media all and (max-width: 500px) {
  .overlay {
    height: 10rem;
  }
  .container {
    font-size: 0.8rem;
  }
  .ferchael,
  .talikasih,
  .miniproject {
    padding: 0.4rem;
  }
}
@media all and (max-width: 350px) {
  .overlay {
    height: 8rem;
  }
  .container {
    font-size: 0.5rem;
  }
  .ferchael,
  .talikasih,
  .miniproject {
    padding: 0.2rem;
  }
}
