.stack {
  background-image: url("../../../Assets/Images/contact.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.tech {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  padding: 2rem;
  font-style: italic;
  text-transform: uppercase;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.575);
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.stack img {
  max-width: 7rem;
  margin: 2rem;
}

@media all and (max-width: 1024px) {
  .tech {
    font-size: 3rem;
  }
  .stack img {
    max-width: 5rem;
    margin: 2rem;
  }
}
@media all and (max-width: 768px) {
  .tech {
    font-size: 2rem;
  }
  .stack img {
    max-width: 4rem;
    margin: 2rem;
  }
}
@media all and (max-width: 500px) {
  .tech {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .stack img {
    max-width: 3rem;
    margin: 1.5rem;
  }
}
@media all and (max-width: 350px) {
  .tech {
    font-size: 1.2rem;
    padding: 0.6rem;
  }
  .stack img {
    max-width: 1.5rem;
    margin: 1rem;
  }
}
