.cover {
  background-image: url("../../../Assets/Images/cover.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.headline {
  position: static;
  text-align: center;
}

.welcome {
  font-size: 5rem;
  font-weight: 800;
}

.explore {
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem;
}

.button {
  color: black;
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  background-color: transparent;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 25px;
}

.button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid black;
}

@media all and (max-width: 1024px) {
  .cover {
    height: 50rem;
  }
  .welcome {
    font-size: 4rem;
    font-weight: 700;
  }
  .explore {
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
  }
  .button {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 768px) {
  .cover {
    height: 35rem;
  }
  .welcome {
    font-size: 3rem;
    font-weight: 700;
  }
  .explore {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem;
  }
  .button {
    font-size: 1.4rem;
    padding: 0.8rem;
    margin: 0.8rem;
  }
}

@media all and (max-width: 500px) {
  .cover {
    height: 20rem;
  }
  .welcome {
    font-size: 2rem;
    font-weight: 700;
  }
  .explore {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
  }
  .button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}

@media all and (max-width: 350px) {
  .cover {
    height: 15rem;
  }
  .welcome {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .explore {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1rem;
  }
  .button {
    font-size: 0.8rem;
    padding: 0.4rem;
    margin: 0.4rem;
  }
}
