.cover {
  background-image: url("../../../Assets/Images/cover.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.headline {
  position: static;
  text-align: center;
}

.welcome {
  font-size: 5rem;
  font-weight: 800;
}

.explore {
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem;
}

.button {
  color: black;
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  background-color: transparent;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 25px;
}

.button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
}
